* {
    margin: 0;
    padding: 0;
    /* border: 1px solid black; */
    box-sizing: border-box;
    /* font setting */
    font-family: 'Montserrat','等线';
    font-size: 12px;
    color: #333;
}

html,body{
    height:100%;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: #fefefe;
}

.title{
    font-size: 25px;
    margin: 5px;
}

.subtitle{
    font-size: 19px;
    margin: 5px;
    margin-bottom: 25px;
}

.wrapper {
    justify-content: center;
    text-align: center;
    display: flex;
    flex-direction: row;
}

.main-storage {
    margin: 0 5px 0 5px;
    /* padding: 15px 0 15px 0; */
    width: 250px;
    min-height: 640px;
}

.main-storage div{
    width: 100%;
    border-radius: 3px;
    margin: 5px 0 5px 0;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.main-storage #default{
    height: 640px;
    background: linear-gradient(to right top,#249100,#a4d100);
}

.main-storage p{
    color: #fff;
}

.input {
    margin: 0 5px 0 5px;
    width: 300px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-title{
    margin: 5px;
}

.input-content {
    width: 84%;
    height: 89%;
    padding: 10px;
    font-family: '等线';
    font-size: 14px;
    line-height: 17px;
    text-align: left;
    overflow: hidden;
    border-radius: 10px;
}

.input-content:focus {
    outline: none;
    border: #5281b9 1px solid;
    border-radius: 10px;
}

button{
    margin: 15px;
    height: 27px;
    width: 120px;
    background: linear-gradient(to right top,#0055bd,#6767ba);
    border: 0;
    border-radius: 3px;
    color: #ffffff;
}

button:active{
    background: linear-gradient(to right top,#0d67d6,#7d7dcf);
    outline: none;
}

button:focus{
    outline: none;
}